<div class="view">
    <div class="container">
        <header>
            <h3>О программе</h3>
        </header>
        <br />
        <div class="container">
            <br />
            <div class="row">
                <div class="span2">Oficial site:</div>
                <div class="span9"><a href="http://asp.net" target="_blank">asp.net</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">GitHub:</div>
                <div class="span9"><a href="https://github.com/Talla2XL" target="_blank">https://github.com/Talla2XL</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">email:</div>
                <div class="span9"><a href="mailto:andycreator@gmail.com" target="_blank">Email me</a></div>
            </div>
        </div>
    </div>
</div>


